@charset "UTF-8";
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #333333;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  padding: 85px 0 120px 0;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 1199px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 80px;
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background-color: #3F51B5;
}
@media screen and (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 18px;
    margin-bottom: 40px;
  }
}

header {
  background: #3F51B5;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 100;
}
@media screen and (max-width: 767px) {
  header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.header__logo {
  width: 205px;
  margin: 30px 0 30px 0;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 180px;
    margin: 13px 0;
  }
}
.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav li:not(:first-child) {
  margin-left: 40px;
}
.header__nav li a {
  color: #fff;
  position: relative;
}
.header__nav li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}
.header__nav li a:hover::after, .header__nav li a.is-active::after {
  background-color: #E81919;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.drawer-icon.is-active .drawer-icon__bar1 {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}
.drawer-icon.is-active .drawer-icon__bar3 {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-icon__bars {
  width: 22px;
  height: 20px;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content-item {
  border-bottom: 1px dotted #707070;
}
.drawer-content-item a {
  display: block;
  color: #707070;
  padding: 18px 20px;
  position: relative;
}
.drawer-content-item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-b.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}
.drawer-background.is-active {
  display: block;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: url(../img/arrow-next.png) no-repeat center center/contain;
  right: calc(50% - 600px);
}
.swiper-button-next::after {
  display: none;
}
@media screen and (max-width: 1199px) {
  .swiper-button-next {
    right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: url(../img/arrow-prev.png) no-repeat center center/contain;
  left: calc(50% - 600px);
}
.swiper-button-prev::after {
  display: none;
}
@media screen and (max-width: 1199px) {
  .swiper-button-prev {
    left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 8px;
  margin-left: 8px;
}

.swiper-pagination-bullet-active {
  background-color: #2F7DC8;
}

.main-visual {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
}
@media screen and (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .main-visual__content {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .main-visual__title {
    font-size: 32px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .main-visual__title {
    font-size: 42px;
    line-height: 1.3;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 33px;
}
@media screen and (max-width: 767px) {
  .main-visual__lead {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .main-visual__lead {
    font-size: 20px;
  }
}

.main-visual__button a {
  display: inline-block;
  width: 384px;
  max-width: 100%;
  padding: 18px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #3F51B5;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .main-visual__button a {
    width: 280px;
    font-size: 20px;
    padding: 15px;
  }
}
.main-visual__button a:hover {
  opacity: 0.7;
}

.card {
  background-color: #EFEFEF;
  padding: 100px 0 120px;
}
@media screen and (max-width: 767px) {
  .card {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__item {
  width: calc(33.3% - 15.3333333333px);
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .card__item:not(:nth-child(3n+1)) {
    margin-left: 23px;
  }
  .card__item:nth-child(n+4) {
    margin-top: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .card__item {
    width: calc(50% - 11.5px);
  }
  .card__item:not(:nth-child(2n+1)) {
    margin-left: 23px;
  }
  .card__item:nth-child(n+3) {
    margin-top: 24px;
  }
}
@media screen and (max-width: 767px) {
  .card__item {
    width: 100%;
  }
  .card__item:not(:nth-child(2n+1)) {
    margin-left: 0;
  }
  .card__item:nth-child(n+2) {
    margin-top: 24px;
  }
}

.card__img {
  margin-bottom: 16px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  color: #6F7579;
  margin-bottom: 12px;
}

.card__text {
  font-size: 16px;
  font-weight: 700;
  color: #6F7579;
  line-height: 1.5;
}

.news {
  padding: 85px 0 120px 0;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .news {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .news__items {
    margin-top: 40px;
  }
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 12px;
}
.news__item:not(:first-child) {
  border-top: solid 1px #707070;
}
@media screen and (max-width: 767px) {
  .news__item {
    display: block;
  }
}

.news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news__date {
  width: 105px;
  padding-top: 3px;
}

.news__label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666666;
  border-radius: 4px;
  font-weight: 700;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}
.news__label a.is-blue {
  background: #3F51B5;
}
.news__label a.is-red {
  background: #E81919;
}
.news__label a:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 4px;
}
.news__title a {
  line-height: 1.25;
  color: #333333;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}
.news__title a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .news__title {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;
}
.news__more a {
  color: #E81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}
.news__more a:hover {
  opacity: 0.7;
}
.news__more a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .news__more {
    margin-top: 30px;
  }
}

.price {
  background: #EFEFEF;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .price__content {
    display: block;
  }
}

.price__img {
  width: 37.8333333333%;
}
@media screen and (max-width: 767px) {
  .price__img {
    width: 100%;
  }
}

.price__table {
  width: 59%;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 24px;
  }
}

.table {
  border-collapse: collapse;
  border: solid 1px #707070;
  background: #fff;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}
.table th,
.table td {
  border: solid 1px #707070;
  height: 58px;
  vertical-align: middle;
}
.table th {
  background: #999999;
  color: #fff;
  text-align: center;
}
.table th:nth-child(1) {
  width: 172px;
}
@media screen and (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}
.table td {
  text-align: right;
  padding-right: 24px;
}
.table td span {
  font-size: 13px;
  display: block;
}
.table td strong {
  color: #E81919;
}

.price__attention {
  font-size: 14px;
  margin-top: 12px;
}
.price__attention a {
  font-weight: 700;
  color: #333333;
  text-decoration: underline;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}
.price__attention a:hover {
  opacity: 0.7;
}

.access__map {
  margin: 16px auto;
  width: 800px;
  max-width: 100%;
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.access__info-row:not(:first-child) {
  margin-top: 8px;
}
.access__info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}
.access__info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.access__btn {
  text-align: center;
  margin-top: 50px;
}
.access__btn a {
  display: inline-block;
  width: 304px;
  height: 56px;
  font-weight: 700;
  color: #fff;
  background: #3F51B5;
  border-radius: 8px;
  padding: 16px 12px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.access__btn a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow.png) no-repeat center center/contain;
}
.access__btn a:hover {
  opacity: 0.7;
}

.contact {
  background: #EFEFEF;
}

.contact__form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}
@media screen and (max-width: 767px) {
  .contact__form {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}
.contact-form__row:not(:first-child) {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .contact-form__row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-form__label {
  width: 160px;
  padding: 5px 0 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .contact-form__label {
    width: 100%;
  }
}
.contact-form__label label {
  font-weight: 700;
}
.contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}
.contact-form__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #E81919;
  border-radius: 4px;
  padding: 2px 8px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .contact-form__label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 29px;
  }
}

.contact-form__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 5px;
  }
}
.contact-form__input [type=text] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input [type=mail] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  border-radius: 0;
}
.contact-form__input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #707070;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 12px 16px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(../img/select-arrow].png) no-repeat right 12px center/17px 14px;
}
.contact-form__input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form__radio {
  margin-top: 32px;
}
.contact-form__radio [type=radio] {
  display: none;
}
.contact-form__radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}
@media screen and (max-width: 767px) {
  .contact-form__radio span {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}
.contact-form__radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: solid 1px #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}
.contact-form__radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  position: absolute;
  left: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}
.contact-form__radio [type=radio]:checked + span::after {
  content: "";
  display: block;
}

.contact-form__check {
  margin-top: 63px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact-form__check {
    margin-top: 40px;
  }
}
.contact-form__check [type=checkbox] {
  display: none;
}
.contact-form__check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}
.contact-form__check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: solid 1px #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.contact-form__check span::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: transparent url(../img/check@.png) no-repeat center center/contain;
  display: none;
}
.contact-form__check span a {
  font-weight: 700;
  color: #333333;
  text-decoration: underline;
}
.contact-form__check [type=checkbox]:checked + span::after {
  display: block;
}
.contact-form__check a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form__check a:hover {
  opacity: 0.7;
}

.contact-form__btn {
  margin-top: 30px;
  text-align: center;
}
.contact-form__btn [type=submit] {
  background: #3F51B5 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  width: 304px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form__btn [type=submit]:hover {
  opacity: 0.7;
}

.modal-contact {
  position: fixed;
  z-index: 501;
  width: 900px;
  max-width: calc(100% - 48px);
  height: 652px;
  max-height: calc(100% - 48px);
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px;
  color: #707070;
  display: none;
}
@media screen and (max-width: 767px) {
  .modal-contact {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-contact__head {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 24px;
  position: relative;
  text-align: center;
}
.modal-contact__head::after {
  content: "";
  width: 100px;
  height: 2px;
  background: #3F51B5;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-contact__content {
  margin-top: 40px;
  height: calc(100% - 84px - 108px);
  overflow: auto;
}
.modal-contact__content > :first-child {
  margin-top: 0;
}

.modal-contact__subhead {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
  margin-top: 40px;
}
.modal-contact__subhead::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background: #3F51B5;
}

.modal-contact__text {
  margin-top: 16px;
  line-height: 1.5;
  padding-left: 20px;
}

.modal-contact__button {
  margin-top: 60px;
  text-align: center;
}
.modal-contact__button a {
  display: inline-block;
  width: 176px;
  padding: 14px;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  font-weight: 700;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.modal-contact__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
}
.modal-contact__icon img {
  width: 40px;
}

.modal-contact__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
}

.qa__items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}

.qa__item:nth-child(n+2) {
  margin-top: 24px;
}

.qa-box__q {
  color: #fff;
  background-color: #3F51B5;
  padding: 12px 56px;
  font-weight: 700;
  position: relative;
}
.qa-box__q::before {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
}

.qa-box__icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa-box__icon.is-open .qa-box__bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa-box__bar1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-box__bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box {
  border: 1px solid #3F51B5;
}

.qa-box__a {
  background: #fff;
  font-weight: 700;
  color: #3F51B5;
  line-height: 1.5;
  padding: 16px 30px 16px 25px;
  display: none;
}

.qa-box__content {
  position: relative;
  padding-left: 35px;
}
.qa-box__content::before {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background-image: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  footer {
    margin-top: 30px;
    padding-bottom: 14px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__left {
  width: 36%;
}
@media screen and (max-width: 767px) {
  .footer__left {
    width: 100%;
  }
}

.footer__logo {
  width: 205px;
}

.footer__address {
  margin-top: 32px;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer__address {
    margin-top: 13px;
  }
}

.footer__tel {
  margin-top: 10px;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer__tel {
    margin-top: 6px;
  }
}

.footer__center {
  width: 48%;
}
@media screen and (max-width: 767px) {
  .footer__center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    margin-top: 24px;
  }
}
.footer__nav li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__nav li a:hover {
  opacity: 0.7;
}
.footer__nav li:not(:first-child) {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .footer__nav li:not(:first-child) {
    margin-left: 20px;
  }
}

.footer__right {
  width: 16%;
}
@media screen and (max-width: 767px) {
  .footer__right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__sns a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__sns a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .footer__sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__sns li:not(:first-child) {
  margin-left: 16px;
}
.footer__sns img {
  width: 30px;
}

.footer__copy {
  margin-top: 46px;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__copy {
    margin-top: 22px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
.to-top a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.to-top a:hover {
  opacity: 0.7;
}
.to-top a img {
  width: 60px;
}
@media screen and (max-width: 767px) {
  .to-top a img {
    width: 40px;
  }
}